<style>
    #abouttable {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        color: black;
        font-size: 5vmax;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
    }

    h1, h3 {
        color: black;
    }
</style>
<table id="abouttable">
	<tr>
		<td>
			<h1>Log4Pro ReelCheck</h1>
			<h3>Reel identification, labelling and checking<br/>system for electronics manufacturers.</h3>
		</td>
		<td>
			<img src="~/Images/LOG4PROlogo.png" alt="Italian Trulli">
			<br/>
		</td>
	</tr>
	<tr></tr><tr></tr><tr></tr>
	<tr>
		<td>
			<h3 style="text-decoration: underline;">Developed by</h3>
			<h1>Vonalkód Rendszerház Kft.<br/>Budapest, 2018-2019</h1>
		</td>
		<td>
			<img src="~/Images/VRHlogo.png" alt="Italian Trulli">
			<br/>
		</td>
	</tr>
	<tr>
		<td>
			<h3 style="text-decoration: underline;">Licensed for</h3>
			<h1>Aptiv Services Hungary Kft.<br/>Szombathely</h1>
		</td>
		<td>
			<img src="~/Images/APTIVElogoMedium.png" alt="Italian Trulli">
			<br/>
		</td>
	</tr>
</table>
