@{
    ViewBag.Title = "About";
}
<script>
    function testMenuSwap() {
        console.log('Menü állapotváltozás történt.');
    }
    vrhmenu.MenuSwapEventFunction = testMenuSwap;
</script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
