<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net471" />
  <package id="VRH.Common" version="2.10.1" targetFramework="net471" />
  <package id="Vrh.EventHub.Core" version="1.2.1" targetFramework="net471" />
  <package id="Vrh.EventHub.Protocols.RedisPubSub" version="2.0.7" targetFramework="net471" />
  <package id="Vrh.LinqXMLProcessor.Base" version="1.2.4" targetFramework="net471" />
  <package id="Vrh.Logger" version="1.5.7" targetFramework="net471" />
  <package id="Vrh.Redis.ConnectionStore" version="1.0.0" targetFramework="net471" />
</packages>