/***************************************************
RedisManager/Content/Manager.js
    A Vonalkód Rendszerház RedisManager webes felület
    kezeléséhez készült stílusok.
----------------------
Alapítva:
    2018.10.27.-10.30. Wittmann Antal
Módosult:
****************************************************/

.datatableColumnFilter {
    border-radius: 4px;
    padding: 0 3px 0 3px;
    /*margin: -2px;*/
    width: 100%;
}

.datatableActionIcon {
    cursor: pointer;
    color: orange;
    opacity: .7;
    float: right;
}

.dataTables_processing {
    min-height: 50px;
    background-color: orange;
    color: black;
    width: 100% !important;
    top: 0 !important;
    margin-left: -50% !important;
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(25%,rgba(255,255,255,.9)),color-stop(75%,rgba(255,255,255,.9)),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 25%,rgba(255,255,255,.9) 75%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 25%,rgba(255,255,255,.9) 75%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 25%,rgba(255,255,255,.9) 75%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 25%,rgba(255,255,255,.9) 75%,rgba(255,255,255,0) 100%);
}


/*.tableincellforvalue {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    width: 100%;
    border-spacing: 0;
}

    .tableincellforvalue tr {
        background-color: transparent !important;
    }
    .tableincellforvalue td {
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }*/

.wrapWord {
    word-break: break-word;
}

