<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net471" />
  <package id="Stateless" version="4.2.1" targetFramework="net471" />
  <package id="VRH.Common" version="2.10.1" targetFramework="net471" />
  <package id="VRH.ConnectionStringStore" version="2.2.1" targetFramework="net471" />
  <package id="Vrh.EventHub.Core" version="1.2.1" targetFramework="net471" />
  <package id="Vrh.EventHub.Protocols.RedisPubSub" version="2.0.7" targetFramework="net471" />
  <package id="Vrh.LinqXMLProcessor.Base" version="1.2.4" targetFramework="net471" />
  <package id="VRH.Log4Pro.MultiLanguageManager" version="3.4.0" targetFramework="net471" />
  <package id="Vrh.Logger" version="1.5.7" targetFramework="net471" />
  <package id="Vrh.Redis.ConnectionStore" version="1.0.0" targetFramework="net471" />
  <package id="Vrh.Redis.DataPoolHandler" version="1.10.3" targetFramework="net471" />
</packages>